# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# Build
storybook-static
dist
/src/components/*
/src/assets/*
/src/styles/*
/src/stories/*

# OS
.DS_Store

# Logs
logs
*.log

#claude
.claude

