services:
  storybook:
    build: .
    container_name: storybook_figma
    ports:
      - "6006:6006"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      FIGMA_TOKEN: ${FIGMA_TOKEN}
      FIGMA_FILE_KEY: ${FIGMA_FILE_KEY}
      CHOKIDAR_USEPOLLING: "true"
      BROWSER: "none"
    command: npm run storybook
