@use '../variables' as *;

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;

  img {
    display: block;
    object-fit: contain;
  }

  &--sm {
    width: 16px;
    height: 16px;
  }

  &--md {
    width: 24px;
    height: 24px;
  }

  &--lg {
    width: 32px;
    height: 32px;
  }

  &--xl {
    width: 48px;
    height: 48px;
  }
}
